.new-track-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background-color: var(--beat-group-odd);
  border-radius: 8px;
  margin-bottom: 20px;
}

.audio-options {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-grow: 1;
}

.new-track-form input,
.new-track-form button {
  padding: 10px;
  border: 2px solid var(--button-border);
  border-radius: 4px;
  font-size: 16px;
  background-color: var(--button-bg);
  color: var(--button-text);
  height: 40px;
  white-space: nowrap;
}

.new-track-form input[type="text"] {
  min-width: 150px;
  flex-grow: 1;
}

.new-track-form button {
  cursor: pointer;
  transition: all 0.3s ease;
}

.new-track-form button:hover {
  background-color: var(--button-hover);
}

.upload-audio,
.record-audio,
.link-audio {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-grow: 1;
}

.upload-audio span,
.record-audio audio {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.new-track-form .cancel-button {
  margin-left: auto;
}

@media (max-width: 767px) {
  .new-track-form,
  .audio-options,
  .upload-audio,
  .record-audio,
  .link-audio {
    flex-direction: column;
    width: 100%;
  }

  .new-track-form input,
  .new-track-form button {
    width: 100%;
  }

  .new-track-form .cancel-button {
    margin-left: 0;
  }
}