
/* You might want to add this if you have a background on the body or html */
body, html {
  position: relative;
  z-index: 0;
  padding: 0;
  margin: 0;
}

.app {
  position: relative;
  flex: 1;
  margin: auto;
  background-color: var(--bg-color);
  color: var(--text-color);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.app-content {
  position: relative;
  top: 0;
  left: 0;
  -webkit-overflow-scrolling: touch;
  /* Add any other specific styles for your content here */
  text-align: center;
  max-width: 885px;  /* Adjust this value as needed */
  margin: 0 auto;    /* This centers the content horizontally */
  padding-top: 40px;
  z-index: 2; /* This ensures the main app content is above the visualizer */
}

.app-title {
  font-size: 2rem;
  margin-bottom: 20px;
  user-select: none;
  -webkit-user-select: none; /* For Safari */
  -moz-user-select: none; /* For Firefox */
  -ms-user-select: none; /* For IE10+/Edge */
}

/* button group styles for the entire app */
.button-group {
  display: flex;
  flex-wrap: nowrap;
  gap: 5px;
  align-items: center;
}

.button-group-break {
  flex-basis: 100%;
  height: 0;
}

.wake-lock-indicator {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 0.8rem;
  color: var(--text-color);
  opacity: 0.7;
}

.wake-lock-indicator .material-icons {
  font-size: 1rem;
}

/* Styles for mobile screens */
@media (max-width: 767px) {
  .app {
    border-radius: 0; /* Remove border radius on mobile for full-bleed effect */
		overflow-y: auto;
		padding: 0px;
  }

  .app-content {
    padding: 5px;
  }

  .button-group {
    flex-wrap: wrap;
    flex-basis: 100%; /* Makes each group take full width on mobile */
  }

  .button-group button {
    flex: 1 0 auto;
    margin-bottom: 5px;
  }
}

/* Styles for larger screens */
@media (min-width: 768px) {
  .app {
    flex: 0 1 auto; /* Don't grow to full height on larger screens */
  }
}